<input class="m-4" type="file" ng2FileSelect [uploader]="uploader" />

<button type="button" class="btn btn-success btn-xs" (click)="uploadFile()">
  <span class="glyphicon glyphicon-upload"></span> Upload
</button>

<div class="m-4">
  <h3>Uploaded files</h3>
  <table class="table col-md-6" *ngIf="files">
    <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Uploaded on</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>
          <a class="cursor-pointer" (click)="downloadFile(file.uid)">{{file.fileName}}</a>
        </td>
        <td>
          {{ file.createdOn | date : 'short' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
